@import "tailwindcss";

html,
body {
  overflow-x: hidden;
}

body {
  @apply bg-white text-gray-900 transition-colors duration-300;
  scroll-behavior: smooth;
}

html.dark body {
  @apply bg-gray-900 text-gray-100;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}
